# Analysis into the Brazil Forest Fires

This analysis is based on the Kaggle data set https://www.kaggle.com/man72331/forest-fires-data-analysis 

The goal of this analysis is to gain insights in the patern of fires in the Brazil Forest

By: <b>Bram van Schaik</b> 
<br>Date: <b> October 2019</b>

## Part 1: Import libraries

In [1]:
import pandas as pd
import numpy as np

#### Visuals ####
import seaborn as sns
from matplotlib import pyplot as plt
import plotly.tools as tls 
import plotly.subplots as subs 
import plotly.offline as py 
from plotly.offline import init_notebook_mode, iplot, plot
import plotly.graph_objs as go

## Part 2: Import the dataset

In [5]:
#### Read in the data set ####
df = pd.read_csv("C:\\Users\\schai495\\Desktop\\Brazil Forest Fires\\amazon.csv", sep=",", engine='python')

## Part 3: Exploratory Analysis
This part is about getting to know our dataset

In [30]:
#### Looking at the first and last few rows to gain an understanding of the content ####
print(df.head(3))
print("\n")
print(df.tail(3))

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01


      year      state     month  number        date
6451  2014  Tocantins  Dezembro   223.0  2014-01-01
6452  2015  Tocantins  Dezembro   373.0  2015-01-01
6453  2016  Tocantins  Dezembro   119.0  2016-01-01

### Conclusions:
- The month column has the spanish month names instead of common english names

In [27]:
### Now we are going to be looking at the datatypes,shape and missing/unique for each column ####
def resumetable(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    summary['Uniques'] = df.nunique().values
    return summary

resumetable(df)

Dataset Shape: (6454, 5)

     Name   dtypes  Missing  Uniques
0    year    int64        0       20
1   state   object        0       23
2   month   object        0       12
3  number  float64        0     1479
4    date   object        0       20

### Conclusions:
- There are 20 unique years in the data set
- There are 23 unique states in the data set
- State, Month and date are objects

In [60]:
#### Count the variables and their respective distribution ####
YEAR = df.groupby(['year']).sum()
YEAR.info

<bound method DataFrame.info of          number
year
1998  20013.971
1999  26882.821
2000  27351.251
2001  29071.612
2002  37390.600
2003  42760.674
2004  38453.163
2005  35004.965
2006  33832.161
2007  33037.413
2008  29378.964
2009  39117.178
2010  37037.449
2011  34633.545
2012  40084.860
2013  35146.118
2014  39621.183
2015  41208.292
2016  42212.229
2017  36685.624>